## Deliverable 2. Create a Customer Travel Destinations Map.

In [20]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config3 import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [21]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("C:/Users/aramo/Documents/Karla/TEC/Modulo6/Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Aqtobe,KZ,50.2797,57.2072,53.69,87,0,6.71,clear sky
1,1,Evensk,RU,61.9500,159.2333,38.53,89,92,11.68,overcast clouds
2,2,Bonthe,SL,7.5264,-12.5050,81.72,84,74,10.47,broken clouds
3,3,Acapulco,MX,16.8634,-99.8901,87.62,70,40,10.36,scattered clouds
4,4,Golden,US,39.7555,-105.2211,79.97,28,40,10.36,scattered clouds

In [22]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [23]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Bonthe,SL,7.5264,-12.5050,81.72,84,74,10.47,broken clouds
3,3,Acapulco,MX,16.8634,-99.8901,87.62,70,40,10.36,scattered clouds
4,4,Golden,US,39.7555,-105.2211,79.97,28,40,10.36,scattered clouds
6,6,Sao Filipe,CV,14.8961,-24.4956,76.24,71,15,5.88,few clouds
9,9,Avarua,CK,-21.2078,-159.7750,82.45,61,75,4.61,broken clouds
11,11,Clinton,US,42.5870,-82.9199,82.96,59,75,5.75,light rain
13,13,Mayo,US,38.8876,-76.5119,82.94,80,0,4.61,clear sky
15,15,Rikitea,PF,-23.1203,-134.9692,76.73,70,52,18.66,broken clouds
24,24,Vaini,TO,-21.2000,-175.2000,77.16,73,40,6.91,scattered clouds
28,28,Sur,OM,22.5667,59.5289,84.04,52,0,7.72,clear sky

In [24]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                217
City                   217
Country                217
Lat                    217
Lng                    217
Max Temp               217
Humidity               217
Cloudiness             217
Wind Speed             217
Current Description    217
dtype: int64

In [25]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Bonthe,SL,7.5264,-12.5050,81.72,84,74,10.47,broken clouds
3,3,Acapulco,MX,16.8634,-99.8901,87.62,70,40,10.36,scattered clouds
4,4,Golden,US,39.7555,-105.2211,79.97,28,40,10.36,scattered clouds
6,6,Sao Filipe,CV,14.8961,-24.4956,76.24,71,15,5.88,few clouds
9,9,Avarua,CK,-21.2078,-159.7750,82.45,61,75,4.61,broken clouds
...,...,...,...,...,...,...,...,...,...,...
686,686,Touros,BR,-5.1989,-35.4608,78.15,87,38,9.84,scattered clouds
687,687,Ratnagiri,IN,16.9833,73.3000,83.17,80,100,10.92,overcast clouds
688,688,Pacific Grove,US,36.6177,-121.9166,80.38,82,75,10.36,broken clouds
692,692,Brasilia,BR,-15.7797,-47.9297,76.12,61,75,4.61,broken clouds
694,694,Taguatinga,BR,-12.3857,-46.5711,79.03,46,97,3.80,overcast clouds

In [26]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Bonthe,SL,81.72,broken clouds,7.5264,-12.5050,
3,Acapulco,MX,87.62,scattered clouds,16.8634,-99.8901,
4,Golden,US,79.97,scattered clouds,39.7555,-105.2211,
6,Sao Filipe,CV,76.24,few clouds,14.8961,-24.4956,
9,Avarua,CK,82.45,broken clouds,-21.2078,-159.7750,
11,Clinton,US,82.96,light rain,42.5870,-82.9199,
13,Mayo,US,82.94,clear sky,38.8876,-76.5119,
15,Rikitea,PF,76.73,broken clouds,-23.1203,-134.9692,
24,Vaini,TO,77.16,scattered clouds,-21.2000,-175.2000,
28,Sur,OM,84.04,clear sky,22.5667,59.5289,

In [27]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json() 

    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Bonthe,SL,81.72,broken clouds,7.5264,-12.5050,Bonthe Holiday Village
3,Acapulco,MX,87.62,scattered clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco
4,Golden,US,79.97,scattered clouds,39.7555,-105.2211,"The Golden Hotel, Ascend Hotel Collection"
6,Sao Filipe,CV,76.24,few clouds,14.8961,-24.4956,Hotel Xaguate
9,Avarua,CK,82.45,broken clouds,-21.2078,-159.7750,Paradise Inn

In [17]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [18]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [28]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))